<mat-toolbar color="primary">
  <div class="nav-container" fxLayout="row" fxLayoutAlign="space-between">
    <span fxLayout="column" fxLayoutAlign="center">
      <a class="brand" routerLink="/">{{brand}}</a>
    </span>
    <div class="nav-login">
      <div *ngIf="!this.authservice.loggedIn else helloUsername">
        <button routerLink="/login" mat-raised-button><span>Login</span></button>
        <button routerLink="/register" mat-raised-button color="accent"><span>Register</span></button>
      </div>
      <ng-template #helloUsername>
        <span class="greeting">Hello {{ this.authservice.username }}</span>
        <button (click)="logOut()" mat-raised-button>Log out</button>
      </ng-template>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
